@import url(https://fonts.googleapis.com/css?family=Poppins)

body
  font-family: 'Poppins'

a
  text-decoration: none
  color: #000
a:hover
  color: #000

.index, .detail
  h3
    font-size: 14px

.logo
  margin: 30px

ul.menu
  margin-top: 0px
  .row
    margin-left: -10px
  li
    font-size: 30px
    list-style-type: none
  li.active
    text-decoration: underline

.main_title
  font-size: 90px

.detail
  .images
    text-align: center
    padding-top: 75px
    .carousel
      width: 400px
      float: right
  .col-md-4
    padding-left: 0px

.gallery_parent
  margin-left: 0px
  margin-right: 0px
  padding-right: 0px
  padding-left: 0px

.gallery
  padding-left: 0px
  padding-right: 0px
  overflow: hidden
  .index_picture
    float: left
    overflow: hidden
    padding: 8px

.center
  text-align: center
  padding-bottom: 50px

.years
  text-align: center
  padding-bottom: 15px
  .year
    display: inline-block
    padding: 15px
  .year.active
    text-decoration: underline

.scrollToTop
  background: image-url('prst_podc.png') no-repeat
  background-size: 100px 100px
  width: 120px
  height: 120px
  margin: 0
  position: fixed
  bottom: 13%
  right: 0
  z-index: 100
  display: none

.content_text
  text-align: justify

h3.static_title, h3.project_title
  font-size: 30px

.placeholder_grey
  background: #7F7F7F
